body {
	font-family: "PT Sans Narrow", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	line-height: 150%;
	color: #000000;
	height: 1162px;
}

h1 {
	font-weight: bold;
	font-size: 24px;
}
.user-block{
	width: 100%;
	height: auto;
 }
}

.main-header{
	margin-bottom: 57px;
	outline: green;
}

.container {
	height:auto;
	margin: 0 auto;
	padding:0 149px;
	outline:solid red;
}

.main-navigation {
  min-height: 75px
  width:643px;
  float:left;
  outline:solid green;
}

.user-block {
	width: 113px;
   float:right;
   min-height: 75px;
   outline:solid yellow;
}
 .item-header {
 	width:633px;
 	min-height: 133px;
 	padding:0 15px;
 	outline:solid yellow;
 }
.item-content {
	width: 950px;
}

.clearfix::after {
	content: "";
	display:table;
	clear: both;
}

.item-gallery-content {
	margin-bottom: 30px;
	margin-right:40px;
}

.item-content-right {
	width: 400px;
	float:right;
	min-height: 666px;
	margin-left:10px;
	margin-top:85px;
	outline:solid purple;
}

.item-included {
	width: 400px;
	float: right;
}


.item-gallery-bottom{ 
	display: inline-block;
	outline: solid red;
}

.clearfix::after {
  content: "";
}

.item-content {
	width: 1200px;
	height: auto;
}

.main-footer {
 margin-top: 65px;
}

.footer-contacts {
	min-height: 90px;
  	width: 320px;
  	margin-right: 60px;
}

.footer-social {
	min-height: 90px;

  	width: 180px;
  }

.footer-copyright {
	max-height: 90px;
  	width: 180px;
}

.item-content-left {
	outline: solid yellow;
	margin-top:120px;
	padding:0 15px;
	margin-right:10px;
}




























