body {
	font-family: "PT Sans Narrow", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	line-height: 150%;
	color: #000000;
	height: 1162px;
	box-sizing: border-box;
	width: 100%;
}

h1 {
	font-weight: bold;
	font-size: 24px;
}
.user-block{
	width: 100%;
	height: auto;
 }

.main-header{
	margin-bottom: 57px;
	outline: green;

}

.container {
	height:auto;
	margin: 0 auto;
	padding:0 10px;
	outline:solid red;
}

.main-navigation {
  min-height: 75px
  width:643px;
  float:left;
  margin-left: 290px;
  outline:solid green;
}

.user-block {
	width: 113px;
   float:right;
   min-height: 75px;
   outline:solid yellow;
   margin-right: 130px;
}
 .item-header {
 	width:633px;
 	min-height: 133px;
 	padding:0 120px;
 	outline:solid yellow;
 }

.clearfix::after {
	content: "";
	display:table;
	clear: both;
}

.item-gallery-content {
	margin-bottom: 30px;
	margin-right:40px;
	width: 490px;
	height:auto;
}

.item-content-right {
	display:inline-block;
	width:480px;
	outline: solid yellow;
	margin-left: 100px;
	margin-top:50px;
	position: absolute;
}

.item-included {
	width: 400px;
}

.catalog-header {
	float:left;
	position: relative;
	top:60px;
	left:120px;
	outline: solid red;
}
.item-gallery-bottom{ 
	display: inline-block;
	outline: solid red;
}

.clearfix::after {
  content: "";
}

.item-content {
	width: 100%;
	height: auto;
	position: relative;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
	min-height: 90px;
  	width: 320px;
  	margin-right: 60px;
  	margin-right: 60px;
}

.footer-social {
	min-height: 90px;
	display: inline-block;
  	width: 180px;
  	margin-left: 550px;
  }

.footer-copyright {
	max-height: 90px;	
  	width: 180px;
  	float: right;
}
.item-content-left {
	float:left;
	width:600px;
	outline: solid yellow;
	margin-top:50px;
	margin-left:130px;
}

.catalog-header {

	margin-top:60px;



}